/***********************************Smartphone Layout ****************************************************/
@media(min-width:320px) and (max-width:580px){
    
    body {
        overflow-x: hidden;
      }
      .nav-list {
        position: absolute;
        top: 15vh;
        right: 0;
        width: 100vw;
        height: 30vh;
        background:#ffea00;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index:100;
        
       
        
      }
      .nav-list li {
        margin-left: 0;
        opacity:0;
      }
      .mobile-menu {
        display: block;
        
      }
    
    
    .nav-list.active {
      transform: translateX(0);
      
    }

    .logo{
        font-size:1rem;
        letter-spacing: 5px;
    }
    
    .banner{
        top: 125px;
        margin-left:-45px;
    }
    .banner a{
        width: 225px;
        margin-left: 60px;
    }
    .banner h1{
        font-size:2rem;
        
    }
    .banner h2{
        font-size: 2rem;
    }
    .video video{
        height: 85vh;
    }
    
    .titulo h2{
        font-size: 2rem;
        margin-bottom: 45px;
    }
    input[type="search"]{
        width: 75%;
    }
      input[type="submit"]{
         width:170px;
          
    }
    input[type="text"]{
        width: 75%;
    }
    input[type="button"]{
        background:#ffea00;
          width:170px;
          
       } 
}
@media(min-width:380px){
    .logo{
        font-size: 1.5rem;
    }
}

/***********************************Medium Layout ****************************************************/

@media(min-width:581px)and (max-width:768px){
    .logo{
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    
    .banner{
        top: 105px;
        margin-left: -55px;
    }
    .banner a{
        width: 220px;
        
    }
    .banner h1{
        font-size:3rem;
        left:-35px;
    }
    .banner h2{
        font-size: 2.5rem;
    }
    .video video{
        height: 85vh;
    }
    .titulo h2{
        font-size: 2rem;
        margin-bottom: 45px;
    }
    input[type="search"]{
        width: 75%;
    }
      input[type="submit"]{
         width:170px;
          
    }
    input[type="text"]{
        width: 75%;
    }
    input[type="button"]{
        background:#ffea00;
          width:170px;
          
       }
}
@media(min-width:768px){
    .logo{
        font-size: 2rem;
        letter-spacing: 6px;
    }
    .banner{
        top: 165px;
    }
    .video video{
        height: 55vh;
    }
}

/***********************************Tablet and Larger Layout ****************************************************/
@media(min-width:769px)and (max-width:1400px){
    .logo{
        font-size: 2rem;
        letter-spacing: 5px;
    }
    
    .banner{
        top: 150px;
        margin-left: -55px;
    }
    .banner a{
        width: 165px;
        
    }
    .banner h1{
        font-size:4rem;
        left:-35px;
    }
    .banner h2{
        font-size:3rem;
    }
    .video video{
        height: 85vh;
    }
    
}
@media(min-width:1024px){
    .logo{
        margin-left: 30px;
    }
}